/* h1{
    color: black;
    background-color: orange;
    text-decoration: solid;
    border: 89;
}
div{
    color: pink;
    background-color: aqua;
    text-align: center;
    text-decoration: solid;
    border-radius: 80;
}
 ul{
    color: darkmagenta;
    background-color: orange;
    text-decoration: solid;
    text-rendering: inherit;s

 }

button{
    color: blue ;
    text-decoration: wavy;
}
h1{
    color :black;
    text-decoration: solid;

}
label{
    color: "red";
    text-decoration: solid;
    text-overflow: ellipsis;
    border: 79;
    border-radius: 80;
} */